<!DOCTYPE html>
<head>
    <title>Brake Index Analysis</title>
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://d3js.org/d3-contour.v2.min.js"></script>

    <style>
        #charts {
            display: flex;
            flex-direction: column;
        }
        .axis text {
            font-family: Arial, sans-serif;
            font-size: 12px;
        }
        .axis path,
        .axis line {
            fill: none;
            shape-rendering: crispEdges;
        }
    </style>

</head>

<body>
    <h2>Brake Index Analysis</h2>
    <div>This page displays a metric relating the maximum pressure achieved in a
        corner to the length of the brake application. A higher value typically
        corresponds to higher performance for a given corner.</div>
    <div>To reset plot, select All Laps.</div>
    <div id="charts">
        <div id="chart"></div>
    </div>

    <div class="dropdown">
        <form id="lapform">
            <label for="lap">Select Lap: (Solid)</label>
            <select id="lap" name="lap">
                <option value="all" {% if selected_lap == 'all' %}selected{%
                    endif %}>All Laps</option>
                {% for lap_number in lap_numbers %}
                <option href="{{url_for('track_map',lap=lap_number)}}"
                    value="{{ lap_number }}" {% if selected_lap == lap_number
                    %}selected{% endif %}>Lap {{ lap_number }}</option>
                {% endfor %}
            </select>
        </form>
    </div>

    <script>
        var data = {{ data|tojson|safe }};

        console.log(data);

        data = JSON.parse(data);

        const dataArray = Object.keys(data.Braking_ID || {}).map(key => ({
            Braking_ID: data.Braking_ID[key],
            brake_index: data.brake_index[key],
            lap: data.LapNumber[key]
        }));

        console.log(dataArray)

        d3.select('#chart').select('svg').remove();

        // Set up dimensions and margins
        const margin = {top: 20, right: 30, bottom: 40, left: 40},
            width = 800 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

        // Create SVG container
        const svg = d3.select("#chart").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", `translate(${margin.left},${margin.top})`);

        const xScale = d3.scaleBand()
                        .domain(dataArray.map(d => d.Braking_ID))
                        .range([0, width]);

        const yScale =  d3.scaleLinear()
                        .domain([0, d3.max(dataArray, d => d.brake_index)])
                        .nice()
                        .range([height, 0]);

        const xAxis = d3.axisBottom(xScale);

        const yAxis = d3.axisLeft(yScale);

        const colors = d3.schemeTableau10;

        const colorScale = d3.scaleOrdinal()
                             .domain(d3.extent(dataArray, d => d.lap))
                             .range(colors);

                // Append the x-axis
        svg.append("g")
        .attr("class", "x-axis")
        .attr("transform", `translate(0,${height})`)
        .call(d3.axisBottom(xScale));

        // Append the y-axis
        svg.append("g")
        .attr("class", "y-axis")
        .call(d3.axisLeft(yScale));

                // Append the bars
        svg.selectAll(".bar")
        .data(dataArray)
        .enter()
        .append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return xScale(d.Braking_ID) + xScale.bandwidth()/4})
        .attr("width", xScale.bandwidth()/2)
        .attr("height", function(d) { return height - yScale(0); }) // always equal to 0
        .attr("y", function(d) { return yScale(0); })
        .attr("fill", d => colorScale(d.lap));

        svg.selectAll("rect")
        .transition()
        .duration(800)
        .attr("y", function(d) { return yScale(d.brake_index); })
        .attr("height", function(d) { return height - yScale(d.brake_index); })
        .delay(function(d,i){console.log(i) ; return(i*100)});
                    // Add Y axis label
        svg.append("text")
        .attr("class", "y label")
        .attr("text-anchor", "end")
        .attr("y", -margin.left)
        .attr("x", -margin.top)
        .attr("dy", ".75em")
        .attr("transform", "rotate(-90)")
        .text("Brake Application Index");

        svg.append("text")
        .attr("class", "x label")
        .attr("text-anchor", "end")
        .attr("x", (width - margin.right)/2)
        .attr("y", height + margin.bottom - 5)
        .text("Braking Zone");

    </script>

</body>