<!doctype html>
<html>

<head>
    <title>G-G Diagram</title>
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://d3js.org/d3-contour.v2.min.js"></script>
    <style>
        #charts {
            display: flex;
            justify-content: left;
        }
        .chart {
            width: 300px;
            height: 300px;
            margin: 10px;
            padding: 10px;
        }
    </style>
</head>

<body>
    <h2>Object Detection</h2>
    <div>
        This page is currently under construction
    </div>

    <div id = "charts">
        <div id = "chart"></div>
    </div>

    <script>
        console.log("Page currently under construction.")
    </script>

</body>
</html>