<!doctype html>
<html>

    <head>
        <title>G-G Diagram</title>
        <meta charset="UTF-8">
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://d3js.org/d3-contour.v2.min.js"></script>
        <style>
        #charts {
            display: flex;
            justify-content: left;
        }
        .chart {
            width: 300px;
            height: 300px;
            margin: 10px;
            padding: 10px;
        }

        .tooltip {
            position: absolute;
            text-align: center;
            width: 70px;
            height: 30px;
            padding: 2px;
            font: 12px sans-serif;
            background: lightsteelblue;
            border: 0px;
            border-radius: 8px;
            pointer-events: none;
        }
    </style>
    </head>

    <body>
        <h2>G-G Diagram</h2>
        <div>This page displays a representation of the amount of lateral and
            longitudinal capability used during the lap.</div>
        <div>Typically a more full (circular) diagram is desirable.</div>
        <button id="resetButton">Reset Highlights</button>

        <div id="charts">
            <div id="chart"></div>
        </div>

        <script>
        // this does work, jinja is just weird.
        const data = {{data|safe}};

        console.log(data);

        // set margins
        const width = 500;
        const height = 500;
        const margin = {top: 20, right: 30, bottom: 40, left: 50};

        // make svg and append
        const svg = d3.select("#chart").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", `translate(${margin.left},${margin.top})`);

        // get domain sizes by hand because json is weird
        const xval = Object.values(data.LateralAcceleration)
        const yval = Object.values(data.LongitudinalAcceleration)
        const zval = Object.values(data.LapNumber);

        console.log(zval)

        const combinedData = [];

        // put x and y values into array again...
        for (let i = 0; i < xval.length; i++) {
            combinedData.push({ x: xval[i], y: yval[i], z: zval[i] });
        }
        
        // make axes
        const xScale = d3.scaleLinear()
            .domain(d3.extent(combinedData, d => d.x))
            .nice()
            .range([height, 0]);

        const yScale = d3.scaleLinear()
            .domain(d3.extent(combinedData, d => d.y))
            .nice()
            .range([height, 0]);

        const xAxis = d3.axisBottom(xScale);

        const yAxis = d3.axisLeft(yScale);

        const outlineWidth = 2;

        // define tooltip
        const tooltip = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

        const colors = d3.schemeTableau10;

        const colorScale = d3.scaleOrdinal()
            .domain(d3.extent(combinedData, d => d.z))
            .range(colors);

        svg.append("g")
            .attr("transform", `translate(0,${height})`)
            .call(xAxis);

        svg.append("g")
            .call(yAxis);

        
        // Add dashed line for x = 0
        svg.append("line")
        .attr("x1", xScale(0))  // x position for start of the line
        .attr("x2", xScale(0))  // x position for end of the line
        .attr("y1", yScale(yScale.domain()[0]))  // y position for start of the line (bottom of the scale)
        .attr("y2", yScale(yScale.domain()[1]))  // y position for end of the line (top of the scale)
        .attr("stroke", "black")  // line color
        .attr("stroke-width", 1)  // line width
        .attr("stroke-dasharray", "5,5");  // dash pattern (5 pixels dash, 5 pixels gap)

        // Add dashed line for y = 0
        svg.append("line")
        .attr("x1", xScale(xScale.domain()[0]))  // x position for start of the line (left of the scale)
        .attr("x2", xScale(xScale.domain()[1]))  // x position for end of the line (right of the scale)
        .attr("y1", yScale(0))  // y position for start of the line
        .attr("y2", yScale(0))  // y position for end of the line
        .attr("stroke", "black")  // line color
        .attr("stroke-width", 1)  // line width
        .attr("stroke-dasharray", "5,5");  // dash pattern (5 pixels dash, 5 pixels gap)

        // Create and append scatter plot points
        const circles = svg.selectAll(".dot")
            .data(combinedData)
            .enter().append("circle")
            .attr("class", "dot")
            .attr("cx", d => xScale(d.x))
            .attr("cy", d => yScale(d.y))
            .attr("r", 3)
            .attr("fill", d => colorScale(d.z))
            .attr("opacity", 0.5)
            .on("mouseover", (event, d) => {
                tooltip.transition()
                    .duration(200)
                    .style("opacity", .9);
                tooltip.html(`${d.x.toFixed(3)}<br/>${d.y.toFixed(3)}`)
                    .style("left", (event.pageX + 5) + "px")
                    .style("top", (event.pageY - 28) + "px");
            })
            .on("mouseout", () => {
                tooltip.transition()
                    .duration(500)
                    .style("opacity", 0);
            });

        circles.on("click", function(event, d) {
            event.stopPropagation();
            const clickedColor = d3.select(this).attr("fill");
            highlightPoints(clickedColor);
        });

        d3.select("#resetButton").on("click", function() {
            resetHighlight();
        });

              // Add X axis label
        svg.append("text")
            .attr("class", "x label")
            .attr("text-anchor", "end")
            .attr("x", width - margin.right + 20)
            .attr("y", height + margin.bottom - 5)
            .text("Lateral Acceleration (G)");

        // Add Y axis label
        svg.append("text")
            .attr("class", "y label")
            .attr("text-anchor", "end")
            .attr("y", -margin.left)
            .attr("x", -margin.top)
            .attr("dy", ".75em")
            .attr("transform", "rotate(-90)")
            .text("Longitudinal Acceleration (G)");
        
        function highlightPoints(color) {
            circles.transition()
                .duration(500)
                .attr("opacity", function(d) {
                    return d3.select(this).attr("fill") === color ? 1 : 0.1;
                });
        }

        // Function to reset all points to normal opacity
        function resetHighlight() {
            circles.transition()
                .duration(500)
                .attr("opacity", 0.5);
        }

    </script>
    </body>
</html>