<!doctype html>
<html>

<head>
    <title>Track Map</title>
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://d3js.org/d3-contour.v2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/track-map.css">


</head>

<body>
    <h2>Track Map</h2>
    <div>An overview of the chosen lap is shown here as a track map and a velocity trace.</div>
    <div id = "charts">
        <div id = "chart"></div>
        <div id = "chart2"></div>
    </div>
    <div class="dropdown">
        <form id="lapform">
        <label for="lap">Select Lap: </label>
        <select id="lap" name="lap">
          <option value="all" {% if selected_lap == 'all' %}selected{% endif %}>All Laps</option>
          {% for lap_number in lap_numbers %}
            <option href="{{url_for('track_map',lap=lap_number)}}"value="{{ lap_number }}" {% if selected_lap == lap_number %}selected{% endif %}>Lap {{ lap_number }}</option>
          {% endfor %}
        </select>
        </form>
    </div>

<script>
// this does work, jinja is just weird.
const data = {{data|safe}};
console.log(data);

// Function to filter data rows by lap number
function filterByLapNumber(data, lapNumber) {
    const filteredRows = {};

    // Iterate through each key (which represents lap numbers)
    for (let key in data.LapNumber) {
    // Check if the lap number matches
    if (Math.floor(data.LapNumber[key]) === lapNumber) {
        // Store the entire row for this lap number
        filteredRows[key] = {};

        // Iterate through each field in the data object
        for (let field in data) {
        filteredRows[key][field] = data[field][key];
        }
    }
    }
    return filteredRows;
}

        
// Example usage
const lapNumber = 3; // Specify the lap number to filter by
const filteredData = filterByLapNumber(data, lapNumber);

// Function to update the scatter plot based on lap number
function createVisualization(data, lapNumber) {

d3.select("#chart").select("svg").remove();

// Simulate fetching data based on selected lapNumber (replace with actual data fetching logic)
const filteredData = filterByLapNumber(data, lapNumber);

// Extracting the data into an array
const dataArray = Object.values(filteredData).map(d => ({
latitude: d.Latitude,
longitude: d.Longitude,
velocity: d.Velocity
}));

const latitudes = dataArray.map(d => d.latitude);
const longitudes = dataArray.map(d => d.longitude);

const combinedData = [];

// put x and y values into array again...
for (let i = 0; i < latitudes.length; i++) {
    combinedData.push({ y: latitudes[i], x: longitudes[i] });
}

// set margins
const width = 500;
const height = 500;
const margin = {top: 20, right: 30, bottom: 50, left: 70};

// make svg and append
const svg = d3.select("#chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", `translate(${margin.left},${margin.top})`); // Remove existing circles for smooth transition

// make axes
const xScale = d3.scaleLinear()
    .domain(d3.extent(combinedData, d => d.x))
    .nice()
    .range([0, height]);

const yScale = d3.scaleLinear()
    .domain(d3.extent(combinedData, d => d.y))
    .nice()
    .range([height, 0]);

const xAxis = d3.axisBottom(xScale);

const yAxis = d3.axisLeft(yScale);

svg.append("g")
    .attr("transform", `translate(0,${height})`)
    .attr("class", "x-axis")
    .call(xAxis);

svg.select(".x-axis")
   .selectAll("text")
   .attr("transform", `rotate(-15)translate(0,3)`);

svg.append("g")
    .call(yAxis);

// Create and append scatter plot points
svg.selectAll(".dot")
    .data(combinedData)
    .enter().append("circle")
    .attr("class", "dot")
    .attr("cx", d => xScale(d.x))
    .attr("cy", d => yScale(d.y))
    .attr("r", 3)
    .attr("fill", "steelblue" )
    .attr("opacity", 0.8)

      // Add X axis label
svg.append("text")
    .attr("class", "x label")
    .attr("text-anchor", "end")
    .attr("x", width - margin.right + 20)
    .attr("y", height + margin.bottom - 5)
    .text("Latitude ( \u00B0)");

// Add Y axis label
svg.append("text")
    .attr("class", "y label")
    .attr("text-anchor", "end")
    .attr("y", -margin.left)
    .attr("x", -margin.top)
    .attr("dy", ".75em")
    .attr("transform", "rotate(-90)")
    .text("Longitude ( \u00B0)");

}
// Initialize dropdown menu options
const lapNumberDropdown = document.getElementById("lap");

createVisualization(data, lapNumberDropdown.value)

// Event listener for dropdown change
lapNumberDropdown.addEventListener("change", function() {
    const selectedLapNumber = parseInt(this.value);
    createVisualization(data, selectedLapNumber);
});
</script>

</body>
</html>