<!doctype html>
<html>
<body>
    <title>Thesis Project Home Screen</title>
    <h2>Data Uploaded!</h2>
    <div>Check out your data visualisations using the pages below while the object detection algorithm runs it's course.</div>
    <div>Click on Corner Detection to see the progress of the tool, or view instances of traffic.</div>
    <ul>
       <li><a href = "{{ url_for('show_gg') }}">Acceleration Diagram</a></li>

       <li><a href = "{{ url_for('track_map') }}">Track Map</a></li>

       <li><a href = "{{ url_for('metrics') }}">Straight and Corner Breakdown</a></li>
        <li><a href = "{{ url_for('traces') }}">Throttle and Brake Analysis</a></li>

        <li><a href = "{{ url_for ('os_us') }}">Over- and Under-Steer Analysis</a></li>
        <li><a href = "{{ url_for ('brakes') }}">Brake Index Analysis</a></li>
    </ul>


</body>
</html>